* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --primary: #0050b3;
  --text: #fff;
}

body {
  background-color: #080b0c;
}

.container {
  width: 80%;
  margin-inline: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
}

/* Ketika di scroll akan menambahkan bg */
.navbar.scrolling-active {
  transition: all 0.2s ease-in;
  background: var(--primary);
}

.navbar.scrolling-active .box-navbar .logo h1 {
  color: var(--text);
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  display: none;
  color: white;
  font-size: 24px;
}

.navbar .box-navbar .logo h1 {
  color: var(--primary);
  font-size: 25px;
  text-transform: uppercase;
}

.navbar .box-navbar ul {
  display: flex;
  column-gap: 40px;
}

.navbar .box-navbar li {
  list-style: none;
}

.navbar .box-navbar .menu .active a {
  background: var(--primary);
  padding: 10px 30px;
}

.navbar .box-navbar .menu .active a:hover {
  background: #0069e9;
}

.navbar .box-navbar li a {
  color: #fff;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navbar .box-navbar li a:hover {
  background: var(--primary);
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.hero .box-hero .box:nth-child(1) h1 {
  color: var(--text);
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero .box-hero .box:nth-child(1) p {
  line-height: 2;
  color: var(--text);
  margin-bottom: 20px;
  font-weight: 200;
}

.hero .box-hero .box:nth-child(1) button {
  border: none;
  width: 180px;
  height: 50px;
  background: var(--primary);
  color: var(--text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hero .box-hero .box:nth-child(1) button:hover {
  background-color: #0069e9;
  transition: all 0.3s ease;
}

.hero .box-hero .box:nth-child(2) img {
  width: 100%;
}

/* Services */
.services {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 100px 50px;
}

.services .box-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.services .box-services .box {
  width: 300px;
  text-align: center;
  color: var(--text);
}

.services .box-services .box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--primary);
}

.services .box-services .box p {
  font-weight: 200;
}

/* Pantai */
.pantai {
  padding: 50px 0px;
}

.pantai .box-pantai {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  row-gap: 50px;
}

.pantai .box-pantai .box {
  text-align: center;
  color: var(--text);
  transition: all 0.3s ease;
}

.pantai .box-pantai .box:hover {
  transform: translateY(-20px);
}

.pantai .box-pantai .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.pantai .box-pantai .box p {
  font-weight: 200;
  margin-bottom: 10px;
}

.pantai .box-pantai .box button {
  width: 120px;
  height: 40px;
  background: var(--primary);
  color: var(--text);
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.pantai .box-pantai .box button:hover {
  background: #0069e9;
}

/* DAFTAR */
.daftar {
  padding: 50px 0 100px 0;
}

.daftar .box-daftar {
  color: var(--text);
  text-align: center;
}

.daftar .box-daftar h1 {
  margin-bottom: 40px;
}

.daftar .box-daftar h3 {
  font-weight: 400;
  margin-bottom: 10px;
  transform: scale(1);
  animation: animasi 3s infinite;
}

@keyframes animasi {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.daftar .box-daftar button {
  background: var(--primary);
  border: none;
  min-height: 40px;
  min-width: 140px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
  padding-inline: 10px;
  margin-bottom: 5px;
}

.daftar .box-daftar button i {
  font-size: 16px;
  font-weight: bold;
  padding-inline: 5px;
}

/* Footer */
.footer {
  padding: 50px 0 50px 0;
  background: var(--primary);
}

.footer .box-footer {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  column-gap: 100px;
  align-items: center;
}

.footer .box-footer .box {
  color: var(--text);
}

.footer .box-footer .box:nth-child(1) p {
  font-size: 16px;
}

.footer .box-footer .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .box-footer .box:nth-child(2) a {
  color: var(--text);
}

.footer .box-footer .box:nth-child(3) span {
  font-weight: bold;
}

.footer .box-footer .box:nth-child(3) span {
  font-weight: bold;
}

.footer .box-footer .box:nth-child(3) {
  text-align: center;
}

/* Responsive */
/* Laptop */
@media screen and (max-width: 1200px) {
  .hero .box-hero .box:nth-child(1) button {
    width: 150px;
  }
}

@media screen and (max-width: 990px) {
  .menu-bar {
    display: block;
  }

  .navbar .box-navbar .menu {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 380px;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .navbar .box-navbar .menu.menu-active {
    top: 55px;
    opacity: 1;
  }

  .hero .box-hero .box:nth-child(1) p {
    font-size: 15px;
  }

  .daftar .box-daftar h1 {
    font-size: 29px;
  }

  .footer .box-footer {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 14px 0px 14px 0px;
  }

  .navbar .box-navbar .logo h1 {
    font-size: 21px;
  }


  .hero .box-hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }

  .hero .box-hero .box:nth-child(2) {
    order: 1;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(1) {
    order: 2;
    text-align: center;
  }

  .daftar .box-daftar h1 {
    font-size: 22px;
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 23px;
  }

  .hero .box-hero .box:nth-child(2) img {
    width: 80%;
  }

  .footer .box-footer .box:nth-child(2) a,
  h3 {
    text-align: center;
  }

  .footer .box-footer .box {
    text-align: center;
  }
}

/* Mobile */
@media screen and (max-width: 370px) {
  .daftar .box-daftar button {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 370px) {
  .pantai .box-pantai {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}